/*********************
General Theme
*********************/


/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
	padding-bottom: 40px;
	color: #5a5a5a;
	background:@baseColor;
}
a{
	color:#e34b25;
}


.text-contrast{
	color:#E34B25;
}


.shift-right{
	margin-left:15px;
}

.shift-left{
	margin-right:15px;
}




html,
body {
	height: 100%;
	/* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	/* Negative indent footer by its height */
	margin: 0 auto -60px;
	/* Pad bottom by footer height */
	padding: 0 0 60px;
	background:@white;
}

/* Set the fixed height of the footer here */
#footer {
	height: 100px;
	background:#4b4848;
	.container{
		padding:2em 0em;
		color:#fff;
		p{
			padding:0em 1em;
		}
	}
}



/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
#welcome {
	margin-bottom: 20px;
	margin-top: -20px;
	height: 200px;
	background-color: #6F9CBA;
	position:relative;
	text-align:center;
	color:#fff;
	overflow:hidden;

	.container{
		z-index:99999;
		position:relative;

		.welcome-caption {
			margin-top:3em;
			h1{
				font-size:24px;
			}
		}
	}



	img {
		position: absolute;
		top: 0;
		left: 0;
		max-width: 100%;
		height: 300px;
		z-index:8;
	}

}

.sponsors img{
	margin:0 auto;
	padding:2em 0em;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Pad the edges of the mobile views a bit */
.marketing {
	margin-bottom:50px;
	padding-left: 15px;
	padding-right: 15px;
	.col-lg-4 {
		text-align: center;
		margin-bottom: 20px;
	}
	h2 {
		font-weight: normal;
	}
	.col-lg-4 p {
		margin-left: 10px;
		margin-right: 10px;
	}
}

/* Featurettes
------------------------- */

.featurette-divider {
	margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
	font-weight: 300;
	line-height: 1;
	letter-spacing: -1px;
}




/* Top Users
-------------------------------------------------- */


#top-user-container{
	padding: 20px 0 40px;
	background:@secondaryColor;
	width:100%;
	overflow:hidden;
	top:-20px;
	position:relative;

	.lead{
		color:#fff;
	}

	ul.users li{
		margin:1em 1em;
		box-sizing:border-box;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		background:#fff;
		border-radius:4px;
		-webkit-border-radius:4px;
		-moz-border-radius:4px;
		padding:10px;
		position: relative;
		min-width: 185px;
		width: 17%;

		.box {
			.user-image{
				text-align: center;
				z-index: 333;
				position: absolute;
				top: -20px;
				width:100%;
				left:0px;


				img{
					margin:0 auto;
					padding:0.2em;
					border-radius:30px;
					-webkit-border-radius:30px;
					-moz-border-radius:30px;
					-ms-border-radius:30px;
					-o-border-radius:30px;
					background:@mediumGrey;
				}
			}

			h4#username{
				padding-top:30px;
			}

			.rank {
				background:@white;
				box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
				font-size: 20px;
				padding: 0px 10px;
				position: absolute;
				left: 10px;
				top: -7px;
				z-index: 2;
			}

			.score {
				background: url("../images/score.png") repeat-x scroll 0 0 #C3492B;
				box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
				color: #FFFFFF;
				font-size: 20px;
				padding: 0px 10px;
				position: absolute;
				right: 10px;
				top: -7px;
				z-index: 2;
			}

			.box-info{
				text-align: center;

				#widget{
					text-align:center;
				}
			}

			a{
				i{
					color:#3498db;
				}
			}
		}

	}

}


.list-group-item.main, .list-group-item.main:hover, .list-group-item.main:focus {
	background-color: @baseGrey;
	border-color: @mediumGrey;
	z-index: 2;
}


ul.klout-list {
	span.user-name{
		display:inline-block;
		font-size:80%;
	}
	.list-group-item{
		.media-heading{
			font-size:18px;
		}
		.callout {
			background: url("../images/callout.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
			bottom: -10px;
			height: 10px;
			position: absolute;
			right: -2px;
			width: 16px;
			z-index: 100;
		}
		.score{
			background: url("../images/score.png") repeat-x scroll 0 0 #C3492B;
			box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
			color: #FFFFFF;
			font-size: 16px;
			padding: 3px 10px;
			position: relative;
			display:inline-block;
			z-index: 2;
			margin-right:5px;
		}
		.rank{
			display:inline-block;
			font-size:16px;
			font-weight:bold;
			margin-right:10px;
			padding-top:2px;
		}
		a{
			i{
				color:#3498db;
			}
			&:hover{
				i{
					color:#333333;
				}
			}
		}

		&:last-of-type{
			a{
				i{
					color:#E34B25;
				}
			}
		}
	}
}




ul.stats-list span.stat{
	float:right;
}


/*---------------------------------------------------------------
-------------- User Profile View
-----------------------------------------------------------------*/

.user-details {
	position: relative;
	padding: 0;

	.user-image {
		position: absolute;
		top:-20px;
		padding-top:10px;
		z-index: 1;
		width: 100%;
		text-align: center;

 		img {
 			clear: both;
 			margin: auto;
 			position: relative;
 		}
 	}
	.user-info-block {
		width: 100%;
		background: rgb(255, 255, 255);
		z-index: 0;
		padding-top: 35px;

		.user-heading {
			width: 100%;
			text-align: center;
			margin: 10px 0 0;
			padding-bottom:10px;
		}
 		.user-body {
 			float: left;
 			padding: 5%;
 			width: 90%;
 		}
 	}
}


@import "components/header.less";