.interior-page-header {
	margin-bottom: 60px;
	background-color: #6F9CBA;
	position: relative;
	color: #fff;
	overflow: hidden;
	margin-top:-20px;

	h1{
		margin-bottom:20px;
	}
}

#content-wrapper{
	margin-bottom:60px;
}